report/Report.log
report/Report.synctex.gz
report/Report.bbl
report/Report.blg
report/Report.dvi
report/Report.log
report/Report.aux
__pycache__/
implementation/__pycache__/
implementation/unity-environment.log
